<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Picture Recognition</title>
    <!--モバイル環境下の表示方法-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--検索エンジン、ブラウザのタイトル表示-->
    <meta name="description" content="画像認識のデモ" />
    <!--検索エンジンの概要説明-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Picture Recognition" />
    <meta property="og:image" content="../images/icon.png" />
    <meta property="og:url" content="http://example.net/" />
    <meta property="og:site_name" content="Picture Recognition demo" />
    <meta property="og:description" content="This is Picture Recognition demo site by Machine Learning." />
    <!--検索エンジンに対するインデックス指定-->
    <meta name="robots" content="noarchive">
    <meta name="robots" content="noindex,nofollow">
    <!--サイトアイコン-->
    <link rel="shortcut icon" href="./favicon.ico">
    <!--自作css-->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <!--body-->
  <body>
    <header>
      <a href="" class="header-title">Picture Recognition Demo</a>
    </header>
    <main>
      <form action="http://127.0.0.1:5000/send" method="post" enctype="multipart/form-data">
        <input type="file" id="img_file" name="img_file">
        <input type="submit" value="送信">
      </form>
      <p>
        {% if img_url %}
          <img src="{{ img_url }}">
        {% endif %}
      </p>
      <p>
        {% if result %}
          結果は、{{ result }}です。
        {% endif %}
      </p>
    </main>
    <footer>
      <p class="footer-copyright">&copy; 2019 Kanji Yamaguchi</p>
    </footer>
    <!--自作javascript-->
    <script src="../static/js/script.js"></script>
  </body>
</html>